<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventosAqui</title>
    <link rel="stylesheet" href="bootstrap-5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <html data-bs-theme="dark"></html>

    <!-- PLANO DE FUNDO --> 
    <link rel="stylesheet" href="background.css">
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="images/icon.png"> 
</head>
<body>

    <!-- CABEÇALHO -->
     <nav class="navbar navbar-expand-md navbar-dark bg-black">
        <div class="container position-relative" style="max-width: 90%;">

            <a class="navbar-brand" href="#"><img src="images/icon.png" width="60"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    
                    <!-- OPÇÕES -->
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Tela inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./shows.html">Shows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./galeria.html">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./contato.html">Contato</a>
                    </li>
                    
                    <hr style="color: white;">
                    
                    <!-- CARRINHO E CALENDÁRIO -->
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="./carrinho.html">Carrinho</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="./calendario.html">Calendário</a>
                    </li>
                    <ul class="navbar-nav position-absolute end-0 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link icones-navbar d-none d-md-block" href="./carrinho.html">
                                <img src="images/carrinho-de-compras.svg" style="-webkit-filter: invert(1);filter: invert(1);" width="30">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link icones-navbar d-none d-md-block" href="./calendario.html"><img src="images/calendario.svg" style="-webkit-filter: invert(1);filter: invert(1);" width="30"></a>
                        </li>
                    </ul> 
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <main class="container-fluid p-4 mt-5 mb-5">
       <div class="container d-flex align-items-center
                    h-100">

                <div class="row justify-content-evenly">
                
                    <!-- CONTATE-NOS -->
                    <div class="col-md-6 align-self-center text-white">
                        
                        <h1 class="mb-5">Contate-nos</h1>

                        <div class="row">

                            <!-- INFORMAÇÕES GERAIS -->
                            <div class="col-sm-4">
                                <div class="row">
                                    <h2 class="fs-5">ENDEREÇO</h2>
                                    <p>SRPN Portão 1, SRPN - Asa Norte, Brasília - DF, 70070-701</p>
                                </div>
                                <div class="row">
                                    <h2 class="fs-5">E-MAIL</h2>
                                    <p>info@meusite.com</p>
                                </div>
                                <div class="row">
                                    <h2 class="fs-5">TELEFONE</h2>
                                    <p>(11) 99999-9999</p>
                                </div>
                            </div>

                            <!-- FORMULÁRIO PARA ENVIO DE MENSAGEM -->
                            <div class="col-sm-8 bg" style="background-color: grey;">
                                <div class="row p-3 justify-content-between">
                                    <div class="col-6">
                                        <input class="greyform-input" type="text" placeholder="Nome"> 
                                    </div>
                                    <div class="col-6">
                                        <input class="greyform-input" type="text" placeholder="Telefone">
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-12">
                                        <input class="greyform-input" type="text" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="row p-3 h-50">
                                    <div class="col-12">
                                        <input class="greyform-input h-100" type="text" placeholder="Insira a mensagem aqui...">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <button type="button" class="btn" style="width: 120px; height: 50px;">ENVIAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- MAPA -->
                    <div class="col-md-6 p-3 align-self-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7678.913641168079!2d-47.901454905105744!3d-15.77984852335467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3a5fa83af33b%3A0x8952b7118fee2e5!2sSRPN%20-%20Bras%C3%ADlia%2C%20DF%2C%2070655-775!5e0!3m2!1spt-BR!2sbr!4v1717030961926!5m2!1spt-BR!2sbr" 
                            width="100%" height="500px" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
            </div>
        </div>
    </main>
    
    <!-- FOOTER -->
    <footer class="container-fluid bg-black">
       <div class="container text-center text-white fw-light mt-2">
        <p>&copy 2024 EventosAqui. All rights reserved.</p></div>
    </footer>

    <script src="bootstrap-5.3.3/js/bootstrap.bundle.js"></script>
</body>
</html>