<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventosAqui</title>
    <link rel="stylesheet" href="bootstrap-5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <html data-bs-theme="dark"></html>

    <!-- PLANO DE FUNDO --> 
    <link rel="stylesheet" href="background.css">
    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="images/icon.png"> 
</head>
<body>

    <!-- CABEÇALHO -->
     <nav class="navbar navbar-expand-md navbar-dark bg-black">
        <div class="container position-relative" style="max-width: 90%;">

            <a class="navbar-brand" href="#"><img src="images/icon.png" width="60"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    
                    <!-- OPÇÕES -->
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Tela inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./shows.html">Shows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./galeria.html">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contato.html">Contato</a>
                    </li>
                    
                    <hr style="color: white;">
                    
                    <!-- CARRINHO E CALENDÁRIO -->
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="./carrinho.html">Carrinho</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="./calendario.html">Calendário</a>
                    </li>
                    <ul class="navbar-nav position-absolute end-0 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link icones-navbar d-none d-md-block" href="./carrinho.html">
                                <img src="images/carrinho-de-compras.svg" style="-webkit-filter: invert(1);filter: invert(1);" width="30">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link icones-navbar d-none d-md-block" href="./calendario.html"><img src="images/calendario.svg" style="-webkit-filter: invert(1);filter: invert(1);" width="30"></a>
                        </li>
                    </ul> 
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <main class="container-fluid p-0 mt-5 text-center text-white"
        style="transform: translate(0, 60px);">

        <!-- VISÃO GERAL DO EVENTO -->
        <p><%= show.data.completa %> | <%= show.local.local %></p>
        <h1><%= show.autor %></h1>
        <p style="text-decoration: underline;"><%= show.evento %></p>

        <!-- MAPA DO EVENTO -->
         <div class="mt-3 com-mapa m-auto" style="height: 400px; width: 800px;">
            <%- show.local.embed %>
         </div>
        <!-- <img class="img-fluid mt-3" src="https://picsum.photos/800/400" style="border-radius: 5px; width: 800px;"> -->

        <!-- INGRESSOS -->
        <div class="container-fluid" 
            style="background-color: orangered;
                    padding: 30px;
                    padding-top: 200px;
                    margin-top: -170px;
                    padding-bottom: 80px;
                    width: 100%;">
            <div>
                <h3>Horário e local</h3>
                <p><%= show.data.completa %>, <%= show.data.horario %></p>
                <p><%= show.local.endereco %></p>
            </div>

            <div class="mt-4">
                <h3>Ingressos</h3>
                <hr>
                    <div class="row">

                        <div class="col-sm-4">
                            <h4>Tipo</h4>
                            <p>Ingresso regular</p>
                        </div>

                        <div class="col-4">
                            <h4>Preço</h4>
                            <p>R$<span id="preco">40.00</span></p>
                        </div>

                        <div class="col-4">
                            <h4>Quantidade</h4>
                                
                            <div class="input-group mb-3">
                                <select id="quantidade" onChange="mostrarValor()" class="form-select rounded-0 text-white" id="inputGroupSelect01" style="max-width: 100px;
                                    border: 1px solid white;
                                    background-color: orangered;">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>

                        </div>

                    </div>
                <hr>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <div class="position-relative" style="height: 50px;">
                            <h5 class="position-absolute start-0">Total:</h5>
                            <span id="total" class="position-absolute end-0">R$0.00</span>
                            <button type="button" class="position-absolute btn btn-secondary w-100 end-0" 
                            style="top: 30px; border-radius: 20px;">Checkout</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <script>
        function mostrarValor(){
            var quantidade = window.document.getElementById('quantidade');
            var preco = window.document.getElementById('preco');
            var total = window.document.getElementById('total');

            var selecionado = quantidade.options[quantidade.selectedIndex].value;

            total.innerText = "R$" + (preco.innerText * selecionado) + ".00";
        }
        mostrarValor();
    </script>
    
    <footer class="container-fluid bg-black">
       <div class="container text-center text-white fw-light mt-2">
        <p>&copy 2024 EventosAqui. All rights reserved.</p></div>
    </footer>

    <script src="bootstrap-5.3.3/js/bootstrap.bundle.js"></script>
</body>
</html>