.nav-link:hover {
    color: rgb(200, 200, 200);
}

button, .btn-primary {
    background-color:orangered;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: red;
}

.icones-navbar {
    border-radius: 10%;
    margin-left: 10px;
}

.icones-navbar:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
}

footer p {
    font-size: 11pt;
}

.text-shadow-1 {
    text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.515);
}

.greyform-input {
    background-color: darkgrey; 
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}

.grid { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-gutter * {
    margin: 20px;
}

.btn-ingressos {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.btn-ingressos:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.card {
    border-radius: 10px;
}

.card img {
    border-radius: 10px 10px 0 0;
}

hr {
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: white;
    text-indent: 5pt;
} 

.whiteform-input {
    background-color: white; 
    color: black;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}

.whiteform-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.500);
}

#realizarpagamento {
    background-color: white;
}

#realizarpagamento:hover {
    background-color: darkgrey;
}

#compraringressos:hover{
    background-color: rgba(255, 0, 0, 0.200);
}

.tag {
    display: inline;
    border: 1px solid darkgrey;
    color: rgb(230, 230, 230);
    padding: 5px;
    margin-right: 5px;
}

.invert {
    -webkit-filter: invert(1);filter: invert(1);
}

#sair {
    background-color: black;
    text-decoration: underline;
    color: dodgerblue;
    right: 15px;
}

#sair:hover {
    color: rgb(124, 189, 255);
}

.iconbutton {
    width: 30px;
    transform: translate(-15%);
}

.fake-a {
    background: none;
    background-color: dodgerblue;
}

.fake-a:hover {
    color: rgb(124, 189, 255);
}